#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  margin: 10px;
  background-color: #ac83f7;
}

#typing-area {
  margin: 10px;
  padding: 5px;
  border: 2px solid #000;
  min-height: 300px;
  font-size: 18px;
  line-height: 1.5;
}

.user-input {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

#name-input,
#time-input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

#start-button {
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
  background-color: #6c63ff;
  color: white;
  border: none;
  cursor: pointer;
}
